# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini
*.tmp

# Editor VS Code (puedes quitarlo si el equipo usa VS Code)
# .vscode/

# Logs
*.log

# Variables de entorno (NUNCA subir contraseñas)
.env
.env.local

# Node (si en el futuro se agrega un build tool)
node_modules/
npm-debug.log*
